In [ ]:
# Workshop 21

__Importing Required Packages__

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

__Read Data Using Pandas Function read_csv__

In [2]:
df=pd.read_csv("covid_19_data.csv")

In [14]:
df.tail(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
98242,98243,2020-08-29,Yukon,Canada,2020-08-30 04:28:22,15.0,0.0,15.0
98243,98244,2020-08-29,Yunnan,Mainland China,2020-08-30 04:28:22,199.0,2.0,191.0
98244,98245,2020-08-29,Zabaykalsky Krai,Russia,2020-08-30 04:28:22,4541.0,56.0,4207.0
98245,98246,2020-08-29,Zacatecas,Mexico,2020-08-30 04:28:22,5195.0,470.0,3970.0
98246,98247,2020-08-29,Zakarpattia Oblast,Ukraine,2020-08-30 04:28:22,7385.0,259.0,3220.0
98247,98248,2020-08-29,Zaporizhia Oblast,Ukraine,2020-08-30 04:28:22,1520.0,25.0,883.0
98248,98249,2020-08-29,Zeeland,Netherlands,2020-08-30 04:28:22,1048.0,72.0,0.0
98249,98250,2020-08-29,Zhejiang,Mainland China,2020-08-30 04:28:22,1277.0,1.0,1268.0
98250,98251,2020-08-29,Zhytomyr Oblast,Ukraine,2020-08-30 04:28:22,3155.0,61.0,1837.0
98251,98252,2020-08-29,Zuid-Holland,Netherlands,2020-08-30 04:28:22,18774.0,1344.0,0.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98252 entries, 0 to 98251
Data columns (total 8 columns):
SNo                98252 non-null int64
ObservationDate    98252 non-null datetime64[ns]
Province/State     67099 non-null object
Country/Region     98252 non-null object
Last Update        98252 non-null datetime64[ns]
Confirmed          98252 non-null float64
Deaths             98252 non-null float64
Recovered          98252 non-null float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 6.0+ MB

In [ ]:
#Observations: 1. NA values in State Colums
#              2. ObservationDate and LastUpdate Columns are into Object Datatype (to be changed to DateTime)
#              3. Confirmed, Deaths, Recovered cases columns datatype need to be changed to INT

In [9]:
df['ObservationDate']=pd.to_datetime(df['ObservationDate'])

In [12]:
df['Last Update']=pd.to_datetime(df['Last Update'])

In [7]:
df.describe()

                SNo      Confirmed        Deaths     Recovered
count  98252.000000   98252.000000  98252.000000  9.825200e+04
mean   49126.500000   15442.707232    692.502310  8.392821e+03
std    28363.053661   46813.313272   2712.094164  4.751247e+04
min        1.000000       0.000000      0.000000  0.000000e+00
25%    24563.750000     181.000000      2.000000  2.000000e+00
50%    49126.500000    1622.000000     31.000000  2.870000e+02
75%    73689.250000    8301.250000    264.000000  2.850000e+03
max    98252.000000  801422.000000  42072.000000  2.140614e+06

In [ ]:
# Observations: 1. Confirmed Cases Column has Outliers.

In [20]:
df['Country/Region'].unique()

array(['China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan', 'Thailand',
       'South Korea', 'Singapore', 'Philippines', 'Malaysia', 'Vietnam',
       'Australia', 'Mexico', 'Brazil', 'Colombia', 'France', 'Nepal',
       'Canada', 'Cambodia', 'Sri Lanka', 'Ivory Coast', 'Germany',
       'Finland', 'United Arab Emirates', 'India', 'Italy', 'UK',
       'Russia', 'Sweden', 'Spain', 'Belgium', 'Others', 'Egypt', 'Iran',
       'Israel', 'Lebanon', 'Iraq', 'Oman', 'Afghanistan', 'Bahrain',
       'Kuwait', 'Austria', 'Algeria', 'Croatia', 'Switzerland',
       'Pakistan', 'Georgia', 'Greece', 'North Macedonia', 'Norway',
       'Romania', 'Denmark', 'Estonia', 'Netherlands', 'San Marino',
       ' Azerbaijan', 'Belarus', 'Iceland', 'Lithuania', 'New Zealand',
       'Nigeria', 'North Ireland', 'Ireland', 'Luxembourg', 'Monaco',
       'Qatar', 'Ecuador', 'Azerbaijan', 'Czech Republic', 'Armenia',
       'Dominican Republic', 'Indonesia', 'Portugal', 'Andorra', 'Latvia',
       'Morocco', 'Saudi Arabia', 'Senegal', 'Argentina', 'Chile',
       'Jordan', 'Ukraine', 'Saint Barthelemy', 'Hungary',
       'Faroe Islands', 'Gibraltar', 'Liechtenstein', 'Poland', 'Tunisia',
       'Palestine', 'Bosnia and Herzegovina', 'Slovenia', 'South Africa',
       'Bhutan', 'Cameroon', 'Costa Rica', 'Peru', 'Serbia', 'Slovakia',
       'Togo', 'Vatican City', 'French Guiana', 'Malta', 'Martinique',
       'Republic of Ireland', 'Bulgaria', 'Maldives', 'Bangladesh',
       'Moldova', 'Paraguay', 'Albania', 'Cyprus', 'St. Martin', 'Brunei',
       'occupied Palestinian territory', 'Burkina Faso',
       'Channel Islands', 'Holy See', 'Mongolia', 'Panama', 'Bolivia',
       'Honduras', 'Congo (Kinshasa)', 'Jamaica', 'Reunion', 'Turkey',
       'Cuba', 'Guyana', 'Kazakhstan', 'Cayman Islands', 'Guadeloupe',
       'Ethiopia', 'Sudan', 'Guinea', 'Antigua and Barbuda', 'Aruba',
       'Kenya', 'Uruguay', 'Ghana', 'Jersey', 'Namibia', 'Seychelles',
       'Trinidad and Tobago', 'Venezuela', 'Curacao', 'Eswatini', 'Gabon',
       'Guatemala', 'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Bahamas, The', 'Chad', 'El Salvador', 'Fiji', 'Nicaragua',
       'Madagascar', 'Haiti', 'Angola', 'Cabo Verde', 'Niger',
       'Papua New Guinea', 'Zimbabwe', 'Cape Verde', 'East Timor',
       'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia', 'Grenada',
       'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos', 'Libya',
       'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Western Sahara', 'Sao Tome and Principe', 'Yemen',
       'Comoros', 'Tajikistan', 'Lesotho'], dtype=object)

#Observations: 
1.
2
3
4
5
6
7

In [19]:
df['Country/Region'].replace("('St. Martin',)",'St. Martin',inplace=True)

__Printing first n Rows__

In [5]:
df.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

__Printing last n rows__

In [6]:
df.tail(15)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
98237,98238,08/29/2020,Yamaguchi,Japan,2020-08-30 04:28:22,158.0,0.0,87.0
98238,98239,08/29/2020,Yamalo-Nenets Autonomous Okrug,Russia,2020-08-30 04:28:22,13315.0,90.0,12965.0
98239,98240,08/29/2020,Yamanashi,Japan,2020-08-30 04:28:22,172.0,3.0,147.0
98240,98241,08/29/2020,Yaroslavl Oblast,Russia,2020-08-30 04:28:22,7150.0,35.0,6394.0
98241,98242,08/29/2020,Yucatan,Mexico,2020-08-30 04:28:22,14551.0,1300.0,11718.0
98242,98243,08/29/2020,Yukon,Canada,2020-08-30 04:28:22,15.0,0.0,15.0
98243,98244,08/29/2020,Yunnan,Mainland China,2020-08-30 04:28:22,199.0,2.0,191.0
98244,98245,08/29/2020,Zabaykalsky Krai,Russia,2020-08-30 04:28:22,4541.0,56.0,4207.0
98245,98246,08/29/2020,Zacatecas,Mexico,2020-08-30 04:28:22,5195.0,470.0,3970.0
98246,98247,08/29/2020,Zakarpattia Oblast,Ukraine,2020-08-30 04:28:22,7385.0,259.0,3220.0
98247,98248,08/29/2020,Zaporizhia Oblast,Ukraine,2020-08-30 04:28:22,1520.0,25.0,883.0
98248,98249,08/29/2020,Zeeland,Netherlands,2020-08-30 04:28:22,1048.0,72.0,0.0
98249,98250,08/29/2020,Zhejiang,Mainland China,2020-08-30 04:28:22,1277.0,1.0,1268.0
98250,98251,08/29/2020,Zhytomyr Oblast,Ukraine,2020-08-30 04:28:22,3155.0,61.0,1837.0
98251,98252,08/29/2020,Zuid-Holland,Netherlands,2020-08-30 04:28:22,18774.0,1344.0,0.0

## Understanding Data

__Checking the shape(number of rows and columns) of a Data set__

In [5]:
df.shape

(98252, 8)

In [ ]:
#so the dataset has 98252 rows and 8 columns

__Checking the complete Information related to a Dataset__

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98252 entries, 0 to 98251
Data columns (total 8 columns):
SNo                98252 non-null int64
ObservationDate    98252 non-null object
Province/State     67099 non-null object
Country/Region     98252 non-null object
Last Update        98252 non-null object
Confirmed          98252 non-null float64
Deaths             98252 non-null float64
Recovered          98252 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.0+ MB

In [ ]:
#Observation Date/ last Update (Data-String)
#Confirmed Deaths and Recovered Data type need to change to Int

In [7]:
df.describe()

                SNo      Confirmed        Deaths     Recovered
count  98252.000000   98252.000000  98252.000000  9.825200e+04
mean   49126.500000   15442.707232    692.502310  8.392821e+03
std    28363.053661   46813.313272   2712.094164  4.751247e+04
min        1.000000       0.000000      0.000000  0.000000e+00
25%    24563.750000     181.000000      2.000000  2.000000e+00
50%    49126.500000    1622.000000     31.000000  2.870000e+02
75%    73689.250000    8301.250000    264.000000  2.850000e+03
max    98252.000000  801422.000000  42072.000000  2.140614e+06

__So, What can we observe from this information__

In [ ]:
#Observations
# point 1:
# Point 2:
# Point 3:

__Checking number of missing values in each column__

In [10]:
len(df)

98252

In [11]:
df.isnull().sum()*100/len(df)

SNo                 0.000000
ObservationDate     0.000000
Province/State     31.707243
Country/Region      0.000000
Last Update         0.000000
Confirmed           0.000000
Deaths              0.000000
Recovered           0.000000
dtype: float64

__Observation: Province/State column consits of null values of 31%__

__Checking for Outliers in each numerical Column__

__Checking for any In-Appropriate Category in Categorical Columns__

In [8]:
df['Country/Region'].unique()

array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
       'Thailand', 'South Korea', 'Singapore', 'Philippines', 'Malaysia',
       'Vietnam', 'Australia', 'Mexico', 'Brazil', 'Colombia', 'France',
       'Nepal', 'Canada', 'Cambodia', 'Sri Lanka', 'Ivory Coast',
       'Germany', 'Finland', 'United Arab Emirates', 'India', 'Italy',
       'UK', 'Russia', 'Sweden', 'Spain', 'Belgium', 'Others', 'Egypt',
       'Iran', 'Israel', 'Lebanon', 'Iraq', 'Oman', 'Afghanistan',
       'Bahrain', 'Kuwait', 'Austria', 'Algeria', 'Croatia',
       'Switzerland', 'Pakistan', 'Georgia', 'Greece', 'North Macedonia',
       'Norway', 'Romania', 'Denmark', 'Estonia', 'Netherlands',
       'San Marino', ' Azerbaijan', 'Belarus', 'Iceland', 'Lithuania',
       'New Zealand', 'Nigeria', 'North Ireland', 'Ireland', 'Luxembourg',
       'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Czech Republic',
       'Armenia', 'Dominican Republic', 'Indonesia', 'Portugal',
       'Andorra', 'Latvia', 'Morocco', 'Saudi Arabia', 'Senegal',
       'Argentina', 'Chile', 'Jordan', 'Ukraine', 'Saint Barthelemy',
       'Hungary', 'Faroe Islands', 'Gibraltar', 'Liechtenstein', 'Poland',
       'Tunisia', 'Palestine', 'Bosnia and Herzegovina', 'Slovenia',
       'South Africa', 'Bhutan', 'Cameroon', 'Costa Rica', 'Peru',
       'Serbia', 'Slovakia', 'Togo', 'Vatican City', 'French Guiana',
       'Malta', 'Martinique', 'Republic of Ireland', 'Bulgaria',
       'Maldives', 'Bangladesh', 'Moldova', 'Paraguay', 'Albania',
       'Cyprus', 'St. Martin', 'Brunei', 'occupied Palestinian territory',
       "('St. Martin',)", 'Burkina Faso', 'Channel Islands', 'Holy See',
       'Mongolia', 'Panama', 'Bolivia', 'Honduras', 'Congo (Kinshasa)',
       'Jamaica', 'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan',
       'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea',
       'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana',
       'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
       'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Gambia, The', 'Bahamas, The', 'Chad', 'El Salvador', 'Fiji',
       'Nicaragua', 'Madagascar', 'Haiti', 'Angola', 'Cabo Verde',
       'Niger', 'Papua New Guinea', 'Zimbabwe', 'Cape Verde',
       'East Timor', 'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia',
       'Grenada', 'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos',
       'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Western Sahara', 'Sao Tome and Principe', 'Yemen',
       'Comoros', 'Tajikistan', 'Lesotho'], dtype=object)

In [ ]:
# Observations:
#Point 1:
#Point 2:
#Point 3: